@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kaftan";
  src: url("/fonts/kaftan-trial.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  /* Add other font properties as needed */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 234, 229, 210;
  --background-end-rgb: 234, 229, 210;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 73, 34, 1;
    --background-end-rgb: 73, 34, 1;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* * {
  border: 1px solid red;
} */

.kaftanFont {
  font-family: "Kaftan", sans-serif; /* Fallback to sans-serif or any other font */
}

* {
  cursor: none;
}

::selection {
  /* Change highlight background color to black */
  background: #f0a4007a;
  /* Change highlight text color to red */
  color: #111;
}
