@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kaftan";
  src: url("/fonts/kaftan-trial.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 234, 229, 210;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 73, 34, 1;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

.kaftanFont {
  font-family: "Kaftan", sans-serif;
}

@media screen and (min-width: 768px) {
  * {
    cursor: none;
  }
}

::selection {
  background: none;
  color: inherit;
}

body,
html {
  overscroll-behavior-y: none;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* * {
  border: 1px solid red;
} */
